{% extends "forum/index.html" %}

{% block errors %}
    {%  if form.non_field_errors %}
    <div class="alert alert-warning">
          {{ form.non_field_errors }}
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Create New Reply</h1>

<form class="form-horizontal" role="form" action="{% url 'new_thread' parent_forum_id %}" method="post">
    {% csrf_token %}
    {# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}
    {% for field in form.visible_fields %}
    <div class="form-group">

        <div class="input-group">
            <span class="input-group-addon">•</span>
            {{ field }}
            {% for error in field.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </div>
    </div>

    {% endfor %}

    <p><input type="submit" class="btn btn-default" value="Create" /></p>
</form>{% endblock %}