body {
  padding-top: 70px;
}


.thread-heading{
    min-height: 63px;
}

.thread-heading{
    border: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    background-color:#f5f5f5;
}

.thread-reply{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.thread-reply:last-of-type{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
}

.thread-heading .glyphicon:before,
.thread-reply .glyphicon:before{
    position: absolute;
    left:-18px;
    top:2px;
    width: 18px;
}

.thread-detail > .detail-pad,
.thread-detail > .title-pad,
.thread-detail > .action-pad{
    position: relative;
    padding: 5px;
}

.thread-heading .title h2,
.forum-header .title h2{
    margin-top:10px;
}

.reply-detail > .detail-pad,
.reply-detail > .content-pad,
.reply-detail > .action-pad{
    position: relative;
    padding: 5px;
}

.action-pad > a {
    padding: 0 0 0 20px;
}

.reply-detail .date-pad,
.thread-detail .date-pad{
    font-size: 12px;
}

.reply-detail .name-pad,
.thread-detail .name-pad{
    font-size: 16px;
}

.thread-reply{
    min-height: 100px;
}




.forum-widget{
    border: 1px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    margin-bottom: 5px;
}



.forum-header{
    background-color:#f5f5f5;
}

.forum-header.compact{
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-color:#f5f5f5;
}

.forum-header > .actions > .action-pad {
    position: relative;
    padding: 5px;
}

.forum-header > .actions > .action-pad .glyphicon:before{
    position: absolute;
    left:-18px;
    top:2px;
    width: 18px;
}

.forum-widget .child-forum{
    border: 1px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-color:#f5f5f5;
}

.forum-widget .sub-forum > .pad{
    margin: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-color:#f5f5f5;
}

.forum-widget > .no-thread > .pad{
    text-align: center;
    padding: 10px;
}



.thread-widget{
    border-top: 1px solid #ddd;
}

.thread-widget > .thread-detail{
    min-height: 50px;
}
.thread-widget > .thread-detail > .title-pad{
    width: 100%;
    cursor: pointer;
}